.benefits{
  position: relative;
  .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    @media screen and (min-width: 768px){
      top: 0;
      height: 80%;
    }
  }
  .item{
    position: relative;
    cursor: pointer;
    img{
      &:hover{
        transform: scale(1.2);
        position: relative;
        z-index: 100;
      }
    }
  }
  .divider{
    position: relative;
    .bg{
      background-color: $blue;
      width: 100%;
      height: 280px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .row{
    &.down{
      max-width: 860px;
      position: relative;
      margin: 0 auto;
      .item{
        margin-bottom: 10px;
        img{
          max-width: 230px;
          @media screen and (min-width: 768px){
            max-width: 350px;
          }
          @media screen and (min-width: 992px){
            max-width: 400px;
          }
        }
      }
    }
  }
}